### Python list operations

#### Selecting Elements
- By index:

my_list[index] # e.g., my_list

- By slice:

my_list[start:end] # e.g., my_list[1:4]

- By condition (list comprehension):

[x for x in my_list if x > 10]

- Specific multiple indices:

[my_list[i] for i in ]


#### Updating Elements
- By index:

my_list[index] = new_value # e.g., my_list = 20

- By slice:

my_list[start:end] = [new_values] # e.g., my_list[1:3] =

#### Removing Elements
- By value:

my_list.remove(value) # removes first occurrence

- By index:

del my_list[index]

or

my_list.pop(index)

- Remove last element:

my_list.pop()

- Remove elements by condition (list comprehension):

my_list = [x for x in my_list if x != value]

- Clear entire list:

my_list.clear()

In [1]:
world = {'afghanistan':30.55, 'albania':2.77, 'algeria':39.21}
world['albania'] # los indices de los diccionarios son las keys, no números

2.77

In [4]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
capitals[ind_ger]

'berlin'

In [5]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

the keys in a dictionary should be unique. these unique keys in a dictionary should be so-called immutable objects. Basically, the content of immutable objects cannot be changed after they're created. Strings, booleans, integers and floats are immutable objects, but the list for example is mutable, because you can change its contents after it's created.

In [9]:
# añadir keys
world['sealand'] = 0.000027
print(world)

'sealand' in world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.7e-05}

True

In [10]:
# update value
world['sealand'] = 0.000028
print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.8e-05}

In [11]:
del(world['sealand'])
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [12]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [13]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [14]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83 }

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

# From dictionary to dataframe

In [2]:
# from dictionary to dataframe

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],
    "Income": [70000, 80000, 120000, 90000, 95000]
}

import pandas as pd
agenda = pd.DataFrame(data)

agenda.index = ['BR','RU','CH','IN','SA']

agenda

       Name  Age         City  Income
BR    Alice   25     New York   70000
RU      Bob   30  Los Angeles   80000
CH  Charlie   35      Chicago  120000
IN    David   40      Houston   90000
SA      Eve   45      Phoenix   95000

In [7]:
brics = pd.read_csv('datasets/brics.csv', index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [8]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' : names,
           'drives_right' : dr,
           'cars_per_cap' : cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [9]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [14]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('datasets/cars.csv', index_col=0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

Series : you can think of the Series as a 1-dimensional array that can be labeled, just like the DataFrame.

If you want to select the country column but keep the data in a DataFrame, you'll need double square brackets,

In [ ]:
# Series
cars['country'] # columna
cars[0:5] # fila

# DataFrame
cars[['country']]

# 2D array

# .loc[] - label based
cars.loc['RU'] # Series
cars.loc[['RU']] # DataFrame
cars.loc[['RU','IN','US']] # toda la fila
cars.loc[['RU','IN','US'],['country','drives_right']] # filas específicas y columnas específicas
cars.loc[:, ['country','drives_right']] # todas las filas, columnas específicas

# .iloc[] - integer position-based
cars.iloc[[1]] # integer position-based
cars.iloc[[1,2,3]]
cars.iloc[[1,2,3],[1,2]]
cars.iloc[:, [1,2]]

In [16]:
 # Import cars data
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [18]:
# Import cars data
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

In [20]:
# Print out observation for Japan
print(cars.loc['JAP'])

# Print out observations for Australia and Egypt
print(cars.iloc[[1,6]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [21]:
# Print out drives_right value of Morocco
print(cars.loc[['MOR'],['drives_right']])

# Print sub-DataFrame
print(cars.loc[['RU','MOR'],['country','drives_right']])

     drives_right
MOR          True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [23]:
# Import cars data

# Print out drives_right column as Series
print(cars.loc[:,'drives_right']) # == cars['drives_right']

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True