# Loops

## While loop

In [1]:
error = 50

while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

In [27]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Se puede usar el método enumerate, que da índices
# aunque una solución más elegante es usar i in range(len(df))

for index, area in enumerate(house) :
    print(f'the {house[index][0]} is {house[index][1]} sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

## In a dictionary

In [28]:
world = {'afghanistan' : 30.55,
         'albania' : 2.77,
         'algeria' : 39.21}


# Necessary to use METHOD .items() for 
for key, value in world.items():
    print(f'{key}--{value}')

afghanistan--30.55
albania--2.77
algeria--39.21

## In an array

In [31]:
import numpy as np

height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
weight = np.array([65.4, 59.2, 63.8, 88.4, 68.7])

In [33]:
# One-dimension array

bmi = weight / height ** 2
for val in bmi:
    print(val)

21.85171572722109
20.97505668934241
21.818679251735578
24.74734749867025
21.44127836209856

In [36]:
# Two-dimension array

measures = np.array([height, weight])

# Aquí 'val' es toda el array
for val in measures:
    print(val)

# Para que haya iteración, se requiere la FUNCIÓN: np.nditer()
for val in np.nditer(measures):
    print(val)

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.8 88.4 68.7]
1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.8
88.4
68.7

In [84]:
import pandas as pd
brics = pd.read_csv('datasets/brics.csv', index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [85]:
for lab, row in brics.iterrows():
    print(lab) # index
    print(row) # content

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [86]:
for lab, row in brics.iterrows():
    print(f'{lab}:', row['capital'])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [91]:
brics['name_length'] = brics['country'].apply(len)
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

In [94]:
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)

# Use .apply(str.upper)
cars["COUNTRY"] = cars["country"].apply(str.upper)
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT